<div class="experience row">
  <div class="col-md-4">
    <h4>{{career.companyName}}</h4>
    <p class="experience-period">{{career.period}}</p>
  </div>
  <div class="col-md-8">
    <p><strong>{{career.position}}</strong> <span class="hidden-phone"> {{career.work}} </span>
    </p>

    <span class="experience-details"><span class="location">{{career.location}}<span> <span
      class="seperator">|</span> <span
      class="link"> <a href="{{career.companyWebsite}}"
                       target="_blank">{{career.companyWebsiteName}}</a> </span> </span> </span></span>
    <p></p>
    <span class="experience-details"><span class="location"> </span></span>
  </div>
</div>
