<div class="background-gray">
  <div class="container" id="contact">
    <h2>Contact</h2>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><a href="{{profile.email}}">Drop an email </a></li>
          <li><a href="{{profile.email}}" target="_blank">Get connected on Linkedin</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><a href="{{profile.github}}" target="_blank">My Github.</a></li>
          <li><a href="{{profile.stackoverFlow}}" target="_blank">View my stackoverflow profile</a></li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="text-center">
    </div>
  </div>
