<h3>Education</h3>
<div class="experiences">
  <app-education class="experience row" [education]="edu" *ngFor="let edu of myEducations"></app-education>
</div>
<hr/>


<!--

<div class="experience row">
  <div class="col-md-4">
    <h4>University of Colombo School of Computing</h4>
    <p class="experience-period">Oct 2013 - Feb 2017</p>
  </div>
  <div class="col-md-8">
    <p>
      <strong>Bachelors - Information Technology</strong> <span class="hidden-phone">
                                    BIT is an online degree program. I did the entire degree programme in self study mode which made me a keen learner and built my research skills. Research and learning is the most prominent skill for any software engineer.<br/>
                            GPA score &ndash; 3.26
                        </span> <span class="experience-details"> <span class="location"> Colombo </span> </span>
    </p>
  </div>
</div>

<div class="experience row">
  <div class="col-md-4">
    <h4>High School - Royal College, Colombo &ndash; 7</h4>
    <p class="experience-period">2010 - 2012</p>
  </div>
  <div class="col-md-8">
    <p>
      <strong>Mathematics (Advanced Level)</strong> <span class="hidden-phone"> Learning Mathematics and physical sciences really improved  my analytical and problem solving skills. Royal College is a prestigious educational institute, undoubtable one of the best in the island. </span><br/>
      GCSC A/L score - 2 Cs and 1 B <span class="experience-details"> <span class="location"> Colombo</span> </span>
    </p>
  </div>
</div>

<div class="experience row">
  <div class="col-md-4">
    <h4>Upto Secondary School - Zahira College, Colombo - 10</h4>
    <p class="experience-period">1998 - 2009</p>
  </div>
  <div class="col-md-8">
    <p>
      <strong>Upto GCSE (Ordinary Level)</strong> <span class="hidden-phone">Zahira College is one of the oldest and prestigious educational institute in sri lanka. Zahira taught me why being a part of something that's bigger than my self is really important. I should always be grateful for Zahira for lessons she taught me while I was there and even at her absence. </span><br/>
      GCSE O/L score - 8 A&rsquo;s 1C <span class="experience-details"> <span
      class="location"> Colombo </span> </span>
    </p>
  </div>
</div>-->
