<div class="container projects" id="projects">
  <h2>Projects</h2>
  <p class="lead">
    &ldquo;If you can dream it, you can do it.&rdquo;<br/>
    - Walt Disney
  </p>
  <hr/>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img class="lazy" alt="" src="/assets/resources/images/integration_system_dashboard.png"/>
        <figcaption>
          <h3>Distributed Enterprise System Network</h3>
          <p>My undergraduate research project. I Developed a number of autonomous Business Systems, Trading portals and
            an Integration System forming a network of systems. The project was primarily intended to provide a
            Distributed system solution to the Domestic Trade.</p>
          <p>
            <strong>Tags:</strong><br/>
            system design, middleware, distributed systems, material design, remote authentication, Undergraduate
            Individual Project,C#, Middlewares, MVC, Web API, jQuery, SPA, RestFull
          </p>
          <a href="https://github.com/ammarisme/Distributed-Enterprises-and-Services-System-Network" target="_blank">View
            more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img alt="SOAP - Den Bosch" src="/assets/resources/images/report-generator.png"/>
        <figcaption>
          <h3>jQuery Report Generator plugin | Open Source</h3>
          <p>A lightweight report generator plugin to generate pdf reports consuming data from a REST API..</p>
          <p>
            <strong>Tags:</strong><br/>
            RESTful, Reports, jQuery, Javascript, Individual ProjectS, C#, SPA
          </p>
          <a href="https://github.com/ammarisme/report-pro" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12" style="height:330px">
      <figure class="effect">
        <img alt="" src="/assets/resources/images/dashboard_OpenSFA.png"/>
        <figcaption>
          <h3>Open SFA | Open Source</h3>
          <p>Open SFA is an open-source Sales Force Automation system.</p>
          <p>
            <strong>Tags:</strong><br/>
            C#, Middlewares, MVC, Web API, jQuery, SPA, RestFull
          </p>
          <a href="https://github.com/ammarisme/OpenSFA" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img alt="" src="/assets/resources/images/place_quotations.png"/>
        <figcaption>
          <h3>Open Shop | Open Source</h3>
          <p>An ecommerce website facilitating online shopping. Built from scatch. The speciality is customers are not
            only able to place orders but also can place quotations to sellers. This websites comes readily integrated
            with Open SFA systems of sellers.</p>
          <p>
            <strong>Tags:</strong><br/>
            C#, MVC, Web API, jQuery, SPA
          </p>
          <a href="https://github.com/ammarisme/OpenShop" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img alt="" src="/assets/resources/images/sleepytime.png"/>
        <figcaption>
          <h3>Manufacturing and Inventory Control system | Sleepytime (Pvt) Ltd</h3>
          <p>Developed for an established client located at free trade zone of Sri Lanka. An integrated manufacturing
            process and inventory control system.</p>
          <p>
            <strong>Tags:</strong><br/>
            Manufacturing, Inventory, Individual Project, C#, MVC, Web API, jQuery, SPA
          </p>
          <a href="https://github.com/ammarisme" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img alt="" src="/assets/resources/images/printare_system.png"/>
        <figcaption>
          <h3>Printing Business System | Printare (Pvt) Ltd</h3>
          <p>An Information system facilitating business processes of a small scale printing and communication
            business.</p>
          <p>
            <strong>Tags:</strong><br/>
            JavaSE, MySql, Swing, Individual Project
          </p>
          <a href="https://github.com/ammarisme" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img alt="" src="/assets/resources/images/pawn_broker.png"/>
        <figcaption>
          <h3>Pawn Broker System | Open Source</h3>
          <p>A CRUD application for a pawn broker to manage his customer information. We used Jasper to generate reports
            and SQL</p>
          <p>
            <strong>Tags:</strong><br/>
            Jasper, SQL, CRUD, Individual Project
          </p>
          <a href="https://github.com/ammarisme" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
    <!-- <div class="col-md-6 col-sm-12 col-xs-12"> --><!-- <figure class="effect"> -->
    <!-- <img src="/assets/resources/images/project_placeholder.png" alt=""> --><!-- <figcaption> -->
    <!-- <h3>Factory inventory management system - Small factory | Open Source</h3> -->
    <!-- <p>A desktop application developed using Java and MySQL to manage inventory of a small scale polyethene factory</p> -->
    <!-- <p><strong>Tags:</strong> <br>Jasper, SQL, CRUD, Individual Project</p> -->
    <!-- <a href="https://github.com/ammarisme" target="_blank">View more</a> --><!-- <span class="icon"> -->
    <!-- <span class="glyphicon glyphicon-new-window"></span> --><!-- </span> --><!-- </figcaption>  -->
    <!-- </figure> --><!-- </div> -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <figure class="effect">
        <img class="lazy" alt="" src="/assets/resources/images/community_system.png"/>
        <figcaption>
          <h3>Community Information system | Open Source</h3>
          <p>A Software developed for my local community and open sourced under BSD &ndash; 3 license.</p>
          <p>
            <strong>Tags:</strong><br/>
            Jasper,CRUD, Individual Project, Java, community work, MySql
          </p>
          <a href="https://github.com/ammarisme" target="_blank">View more</a> <span class="icon"> </span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
