<div class="background-gray">
  <div class="container" id="contact">
    <h2>Contact</h2>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><a href="mailto:a.b.ameerdeen@gmail.com">Drop me an email </a></li>
          <li><a href="https://www.linkedin.com/in/ammarbinameerdeen/" target="_blank">Join my Linkedin network</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><a href="https://github.com/ammarisme" target="_blank">View my github profile</a></li>
          <li><a href="https://stackoverflow.com/users/2724354/ammar-ibnu-ameerdeen" target="_blank">View my
            stackoverflow profile</a></li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="text-center">
      <!-- <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="/assets/resources/tweet_button.c633b87376883931e7436b93bb46a699.en.html" style="position: static; visibility: visible; width: 62px; height: 20px;" data-url="http://pascalvangemert.nl/?ref=twitter"></iframe> -->
      <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
      <!-- <iframe src="/assets/resources/like.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowtransparency="true"></iframe> --></div>
  </div>
</div>
