<div class="background-white">
  <div class="container abilities" id="Skills">
    <h2>Skills</h2>
    <p class="lead">
      &ldquo;A good decision is based on knowledge, not on numbers.&rdquo;<br/>
      - Plato
    </p>
    <hr/>
    <h3>Skills</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <app-skill *ngFor="let skill of mySkills" [skill]="skill"></app-skill>
        </ul>
      </div>
    </div>
    <hr/>
    <h3>Languages</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <app-language *ngFor="let lang of myLanguages" [language]="lang"></app-language>
        </ul>
      </div>
    </div>
    <hr/>
    <h3>Tools</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">

          <li><span class="ability-title">Unix</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">FileZilla (2 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">MS Office (5 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Notepad++ (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Webkit browsers (2 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Windows (15 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Visula Studio (3 years)</span> <span class="ability-score"> </span></li>

        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">Git / Git Flow (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Subversion (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Dia (2 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Eclipse (3 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">And many more</span> <span class="ability-score"> </span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
