<div class="background-white">
  <div class="container abilities" id="Skills">
    <h2>Skills</h2>
    <p class="lead">
      &ldquo;A good decision is based on knowledge, not on numbers.&rdquo;<br/>
      - Plato
    </p>
    <hr/>
    <h3>Skills</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">Bootstrap</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">CSS(3) / LESS</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">C#</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Angular 5</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">ASP.NET&trade; MVC/Razor</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">PHP</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Ajax/XML</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Web API /Web Services</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Linux / Windows CLI</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">JQuery</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Java SE</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Javascript</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">TCP/IP</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Laravel Framework</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Middlewares</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">NodeJs</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">DB2 / MySQL / RDBMS </span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">DB2 / MySQL / RDBMS </span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">RESTful / SPA</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Xamarin.IOS / Xamarin.Android</span> <span class="ability-score"> </span></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">MVC Pattern</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Factory Pattern</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">OOP / OOD</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">SASS / SCSS</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">SEO</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">UML</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Wordpress</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Typescript/ECMA6/ES6</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Socket.io/SignalR</span> <span class="ability-score"> </span></li>
        </ul>
      </div>
    </div>
    <hr/>
    <h3>Languages</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">English (Professional Capacity)</span> <span class="ability-score"> </span>
          </li>
          <li><span class="ability-title">Sinhala/Tamil (Native)</span> <span class="ability-score"> </span></li>

        </ul>
      </div>
    </div>
    <hr/>
    <h3>Tools</h3>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">Different Distributions of Linux</span> <span class="ability-score"> </span>
          </li>
          <li><span class="ability-title">Unix</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">FileZilla (2 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">MS Office (5 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Notepad++ (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Webkit browsers (2 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Windows (15 years)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Visula Studio (3 years)</span> <span class="ability-score"> </span></li>

        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">
          <li><span class="ability-title">Git / Git Flow (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Subversion (1 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Dia (2 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">Eclipse (3 year)</span> <span class="ability-score"> </span></li>
          <li><span class="ability-title">And many more</span> <span class="ability-score"> </span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
