<div class="container" id="experiences">
  <h2>Experiences</h2>
  <p class="lead">
    &ldquo;Continuous improvement is better than delayed perfection.&rdquo;<br/>
    - Mark Twain
  </p>
  <h3>Education</h3>
  <div class="experiences">
    <div class="experience row">
      <div class="col-md-4">
        <h4>Robert Gordon University</h4>
        <p class="experience-period">2018 - 2020</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>M.Sc - Big Data Analytics</strong> <span class="hidden-phone"> I'm following the M.sc through an affiliated program offered by <strong> informatics institute of technology</strong>.
                        </span> <span class="experience-details"> <span class="location"> Colombo </span> </span>
        </p>
      </div>
    </div>

    <div class="experience row">
      <div class="col-md-4">
        <h4>University of Colombo School of Computing</h4>
        <p class="experience-period">Oct 2013 - Feb 2017</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Bachelors - Information Technology</strong> <span class="hidden-phone">
                                    BIT is an online degree program. I did the entire degree programme in self study mode which made me a keen learner and built my research skills. Research and learning is the most prominent skill for any software engineer.<br/>
                            GPA score &ndash; 3.26
                        </span> <span class="experience-details"> <span class="location"> Colombo </span> </span>
        </p>
      </div>
    </div>
    <div class="experience row">
      <div class="col-md-4">
        <h4>High School - Royal College, Colombo &ndash; 7</h4>
        <p class="experience-period">2010 - 2012</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Mathematics (Advanced Level)</strong> <span class="hidden-phone"> Learning Mathematics and physical sciences really improved  my analytical and problem solving skills. Royal College is a prestigious educational institute, undoubtable one of the best in the island. </span><br/>
          GCSC A/L score - 2 Cs and 1 B <span class="experience-details"> <span class="location"> Colombo</span> </span>
        </p>
      </div>
    </div>
    <div class="experience row">
      <div class="col-md-4">
        <h4>Upto Secondary School - Zahira College, Colombo - 10</h4>
        <p class="experience-period">1998 - 2009</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Upto GCSE (Ordinary Level)</strong> <span class="hidden-phone">Zahira College is one of the oldest and prestigious educational institute in sri lanka. Zahira taught me why being a part of something that's bigger than my self is really important. I should always be grateful for Zahira for lessons she taught me while I was there and even at her absence. </span><br/>
          GCSE O/L score - 8 A&rsquo;s 1C <span class="experience-details"> <span
          class="location"> Colombo </span> </span>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <h3>Career</h3>
  <div class="experiences">
    <div class="experience row">
      <div class="col-md-4">
        <h4>GreyTeak Pty Ltd, Melbourne - Sri lankan Office</h4>
        <p class="experience-period">Feb 2018 - Current</p>
      </div>
      <div class="col-md-8">
        <p><strong>Software Engineer (Full-stack) </strong> <span class="hidden-phone">Greyteak is an innovative custom software solutions provider based in Melbourne, Australia.
My functions in the team spanned across all the phases of the Agile SDLC the company follows. Starting from collaboration with Software Engineers/ System administrators to develop solutions until deploying them on chosen platforms.
<ul>
    <li>
Developing front-end modules with TypeScript, Javascript, jQuery and Angular, Java, C#, SCSS, HTML. Catered solutions for both Mobile (Android/iOS apps using Xamarin also one project using Java/Android studio) and Desktop. </li>
<li>Developing backend solutions with   C#.NET, Java, PHP,  Python, JavaScript, Web API, WCF, Socket.IO, NodeJS, SQL, MongoDB. I worked on are Windows/Linux Standalone Servers and AWS/Azure Cloud platforms in order to deploy solutions.</li>
<li>Responsible for the overall application architecture. Also, make sure the maximum use of OOP is deployed in the design and the release code.
Maintain quality at design, code and UI levels.</li>
<li>Version controlling with TFS and Git.</li>
</ul>
                    </span></p>

        <span class="experience-details"><span class="location">Seeduwa<span> <span class="seperator">|</span> <span
          class="link"> <a href="http://greyteak.com.au"
                           target="_blank">GreyTeak.com.au</a> </span> </span> </span></span>
        <p></p>
        <span class="experience-details"><span class="location"> </span></span>
      </div>
    </div>
    <div class="experience row">
      <div class="col-md-4">
        <h4>Bellvantage (Pvt) ltd, Colombo</h4>
        <p class="experience-period">Dec 2016 - Current</p>
      </div>
      <div class="col-md-8">
        <p><strong>Associate Software Engineer (Full stack)</strong> <span class="hidden-phone"> Working as an ASE in a diversified solutions division, helps me gain confidence in many areas of Software Engineering from Business Analysis to choices of technologies to delivery of projects. My work as a trainee for 6 month in this company is also included within this. </span>
        </p>
        <ul>
          <li>Requirement gathering.</li>
          <li>Business analysis.</li>
          <li>Application Development in C# and Java.</li>
          <li>System Analysis and Designing.</li>
          <li>UI designing.</li>
          <li>User training.</li>
        </ul>
        <span class="experience-details"><span class="location">Colombo<span> <span class="seperator">|</span> <span
          class="link"> <a href="http://bellvantage.com"
                           target="_blank">bellvantage.com</a> </span> </span> </span></span>
        <p></p>
        <span class="experience-details"><span class="location"> </span></span>
      </div>
    </div>
    <div class="experience row">
      <div class="col-md-4">
        <h4>Freshpixl Creative Agency, Colombo</h4>
        <p class="experience-period">June 2014 - Dec 2016</p>
      </div>
      <div class="col-md-8">
        <p><strong>Software Developer</strong> <span class="hidden-phone"> Completed many individual and team software projects using C#.NET and Java technologies. A few of such are given in the projects section. I had a good exposure to the SDLC and gained experience in developing solutions for a number of local and foreign clients. </span>
        </p>
        <p><strong>Trainee Software Developer</strong> <span class="hidden-phone">I was a Trainee Developer for the first six months and then was assigned as a Software Developer.</span>
        </p>


        <span class="experience-details"><span class="location">Colombo<span> <span class="seperator">|</span> <span
          class="link"> <a href="http://freshpixl.com/" target="_blank">Freshpixl.com</a> </span> </span> </span></span>
        <p></p>
        <span class="experience-details"><span class="location"> </span></span>
      </div>
    </div>
  </div>
</div>
