<div class="background-white">
  <div class="container" id="profile">
    <h2>Profile</h2>
    <!-- <div class='col-md-12'> --><!-- <form action="" class="Search"> -->
    <!-- <input class="Search-box" type="search" id="Search-box" autocomplete="off"> -->
    <!-- <label class="Search-label" for="Search-box"><i class="fa fa-search"></i></label> --><!-- </form> -->
    <!-- </div> --><input id="search-text" placeholder="Search my profile" type="text"/>
    <!-- <p class="lead">I'm an innovative Software Engineer</p> -->
    <div id="search-results"></div>
    <hr/>
    <div class="row">
      <div class="col-md-4">
        <h3>About me</h3>
        <p><a href="#search-text"><strong> Try the CV search box above.</strong></a>
        </p>
        <p>
          I'm a Software Developer with more than 4 years of solid Software Engineering experience, a sound educational
          background and sharp skills in development. I'm currently pursuing my M.Sc in Big Data Analytics and I have a
          Bachelors in IT from University of Colombo with a GPA of 3.08.
        </p>
      </div>
      <div class="col-md-4 text-center"><img alt="Ammar Bin Ameerdeen" class="profile-img" height="246"
                                             src="/assets/resources/ammar_ameerdeen.jpg" width="246"/></div>
      <div class="col-md-4">
        <h3>Details</h3>
        <p>
          <strong>Name:</strong><br/>
          Ammar Bin Ameerdeen<br/>
          <strong>Age:</strong><br/>
          25 years<br/>
          <strong>Location:</strong><br/>
          Colombo, Sri Lanka, Earth
        </p>
        <!-- <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="/assets/resources/follow_button.7bf2b0e802ada47dae9548b7a1739fed.en.html" style="position: static; visibility: visible; width: 78px; height: 28px;" data-screen-name="pascalvgemert"></iframe> -->
        <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
      </div>
    </div>
  </div>
</div>
